* {
	background-color: lightblue;
}

h1 {
	padding-top: 50px;
}

h2 {
	margin: 0;
	padding: 20px;
}

input {
	background-color: white;
}

button {
	background-color: lightgreen;
}

#message {
	text-align: center;
}